<!doctype html>
<html dir='rtl' lang="fa-IR">

<head>
    <title>ثبت</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLrmAj9nRKxx807Ll6LdzoV14Asgp8VxSzLRQGxcOqZoHfAHTM77TfaDVv3nx37_LvtX4&usqp=CAU');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 50% 60%;
            background-position: center;
        }
    </style>
</head>

<pre>                                                     </pre>
<body>
    <center>
        <h1 style= 'color: rgb(29, 240, 65);'>اطلاعات با موفقیت ذخیره شد!</h1>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </center>
</body>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<pre>                                                     </pre>
<div class="center">
    <form method="get" action="/addbook">
        <button style="margin:20px;" type="botton" class="btn btn-success" style=" font-size: larger; ; text-align: center"
            onclick="window.location='http://127.0.0.1:8000/addbook/';">صفحۀ قبل</button>
    </form>
    <form method="get" action="/index">
        <button style="margin:20px;" type="botton" class="btn btn-success" style=" font-size: larger;color: brown ; text-align: center"
            onclick="window.location='http://127.0.0.1:8000/index/';">صفحۀ اصلی</button>
    </form>

</div>

</html>